absolufy-imports==0.3.1
ag2==0.9.10
agentops==0.4.21
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
aiosqlite==0.21.0
alembic==1.16.5
altair==5.5.0
annotated-types==0.7.0
anthropic==0.69.0
anyio==4.11.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
arxiv==2.2.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
audioop-lts==0.2.2
Authlib==1.6.5
autogen==0.9.10
autogen-agentchat==0.7.5
autogen-core==0.7.5
autogen-ext==0.7.5
babel==2.17.0
backoff==2.2.1
banks==2.2.0
bcrypt==5.0.0
beautifulsoup4==4.14.2
bleach==6.2.0
blinker==1.9.0
blockbuster==1.5.25
Brotli==1.1.0
browserbase==1.4.0
build==1.3.0
cachetools==6.2.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
chromadb==1.1.1
click==8.3.0
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
crewai==0.201.1
crewai-tools==0.75.0
cryptography==44.0.3
dataclasses-json==0.6.7
ddgs==9.6.1
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
docker==7.1.0
docstring_parser==0.17.0
duckduckgo_search==8.1.1
durationpy==0.10
et_xmlfile==2.0.0
eval_type_backport==0.2.2
executing==2.2.1
fastapi==0.118.0
fastjsonschema==2.21.2
feedparser==6.0.12
ffmpy==0.6.2
filelock==3.19.1
filetype==1.2.0
flatbuffers==25.9.23
forbiddenfruit==0.1.4
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.45
google-adk==1.15.1
google-ai-generativelanguage==0.7.0
google-api-core==2.25.2
google-api-python-client==2.184.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.119.0
google-cloud-appengine-logging==1.6.2
google-cloud-audit-log==0.3.2
google-cloud-bigquery==3.38.0
google-cloud-bigtable==2.32.0
google-cloud-core==2.4.3
google-cloud-logging==3.12.1
google-cloud-monitoring==2.27.2
google-cloud-resource-manager==1.14.2
google-cloud-secret-manager==2.24.0
google-cloud-spanner==3.58.0
google-cloud-speech==2.33.0
google-cloud-storage==2.19.0
google-cloud-trace==1.16.2
google-crc32c==1.7.1
google-genai==1.40.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gradio==5.49.0
gradio_client==1.13.3
graphviz==0.21
greenlet==3.2.4
griffe==1.14.0
groovy==0.1.2
groq==0.32.0
grpc-google-iam-v1==0.14.2
grpc-interceptor==0.15.4
grpcio==1.75.1
grpcio-status==1.75.1
grpcio-tools==1.75.1
h11==0.16.0
h2==4.3.0
hf-xet==1.1.10
HoneyHive==0.2.57
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.35.3
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflection==0.5.1
instructor==1.11.3
ipykernel==6.30.1
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.2
json5==0.12.1
json_repair==0.25.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jsonschema_rs==0.29.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kubernetes==34.1.0
lance-namespace==0.0.6
lance-namespace-urllib3-client==0.0.17
lancedb==0.25.1
langchain==1.0.0a12
langchain-community==0.3.30
langchain-core==1.0.0a8
langchain-experimental==0.3.4
langchain-google-genai==2.1.12
langchain-groq==0.3.8
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
langchainhub==0.1.21
langgraph==1.0.0a4
langgraph-api==0.4.38
langgraph-checkpoint==2.1.1
langgraph-cli==0.4.3
langgraph-prebuilt==0.7.0a2
langgraph-runtime-inmem==0.14.1
langgraph-sdk==0.2.9
langsmith==0.4.37
lark==1.3.0
litellm==1.74.9
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.4
llama-index-cli==0.5.3
llama-index-core==0.14.4
llama-index-embeddings-huggingface==0.6.1
llama-index-embeddings-openai==0.5.1
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.1
llama-index-llms-groq==0.4.1
llama-index-llms-openai==0.6.4
llama-index-llms-openai-like==0.5.3
llama-index-readers-file==0.5.4
llama-index-readers-llama-parse==0.5.1
llama-index-vector-stores-chroma==0.5.3
llama-index-vector-stores-pinecone==0.7.1
llama-index-vector-stores-weaviate==1.4.1
llama-index-workflows==2.8.0
llama-parse==0.6.54
lxml==6.0.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib-inline==0.1.7
mcp==1.16.0
mdurl==0.1.2
mistune==3.1.4
mmh3==5.2.0
monotonic==1.6
mpmath==1.3.0
multidict==6.7.0
mypy_extensions==1.1.0
narwhals==2.7.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nltk==3.9.2
notebook==7.4.7
notebook_shim==0.2.4
numpy==2.3.3
oauthlib==3.3.1
ollama==0.6.0
onnxruntime==1.23.0
openai==1.109.1
openai-agents==0.3.3
openinference-instrumentation==0.1.40
openinference-instrumentation-autogen==0.1.10
openinference-instrumentation-crewai==0.1.14
openinference-instrumentation-groq==0.1.12
openinference-instrumentation-openai==0.1.39
openinference-semantic-conventions==0.1.24
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-gcp-logging==1.9.0a0
opentelemetry-exporter-gcp-monitoring==1.9.0a0
opentelemetry-exporter-gcp-trace==1.9.0
opentelemetry-exporter-otlp==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-instrumentation==0.55b1
opentelemetry-instrumentation-alephalpha==0.42.0
opentelemetry-instrumentation-anthropic==0.42.0
opentelemetry-instrumentation-bedrock==0.42.0
opentelemetry-instrumentation-chromadb==0.42.0
opentelemetry-instrumentation-cohere==0.42.0
opentelemetry-instrumentation-crewai==0.42.0
opentelemetry-instrumentation-google-generativeai==0.42.0
opentelemetry-instrumentation-groq==0.42.0
opentelemetry-instrumentation-haystack==0.42.0
opentelemetry-instrumentation-lancedb==0.42.0
opentelemetry-instrumentation-langchain==0.42.0
opentelemetry-instrumentation-llamaindex==0.42.0
opentelemetry-instrumentation-logging==0.55b1
opentelemetry-instrumentation-marqo==0.42.0
opentelemetry-instrumentation-mcp==0.42.0
opentelemetry-instrumentation-milvus==0.42.0
opentelemetry-instrumentation-mistralai==0.42.0
opentelemetry-instrumentation-ollama==0.42.0
opentelemetry-instrumentation-openai==0.42.0
opentelemetry-instrumentation-openai-agents==0.42.0
opentelemetry-instrumentation-pinecone==0.42.0
opentelemetry-instrumentation-qdrant==0.42.0
opentelemetry-instrumentation-redis==0.55b1
opentelemetry-instrumentation-replicate==0.42.0
opentelemetry-instrumentation-requests==0.55b1
opentelemetry-instrumentation-sagemaker==0.42.0
opentelemetry-instrumentation-sqlalchemy==0.55b1
opentelemetry-instrumentation-threading==0.55b1
opentelemetry-instrumentation-together==0.42.0
opentelemetry-instrumentation-transformers==0.42.0
opentelemetry-instrumentation-urllib3==0.55b1
opentelemetry-instrumentation-vertexai==0.42.0
opentelemetry-instrumentation-watsonx==0.42.0
opentelemetry-instrumentation-weaviate==0.42.0
opentelemetry-proto==1.34.1
opentelemetry-resourcedetector-gcp==1.9.0a0
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-semantic-conventions-ai==0.4.11
opentelemetry-util-http==0.55b1
ordered-set==4.1.0
orjson==3.11.3
ormsgpack==1.10.0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.5
pdfminer.six==20250506
pdfplumber==0.11.7
pexpect==4.9.0
pillow==11.3.0
pinecone==7.3.0
pinecone-plugin-assistant==1.8.0
pinecone-plugin-interface==0.0.7
platformdirs==4.4.0
playwright==1.55.0
portalocker==2.7.0
posthog==3.25.0
primp==0.15.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.0
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyautogen==0.10.0
pybase64==1.4.2
pycparser==2.23
pydantic==2.11.10
pydantic-settings==2.11.0
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
pyee==13.0.0
Pygments==2.19.2
PyJWT==2.10.1
pylance==0.38.1
pyparsing==3.2.5
pypdf==6.1.1
pypdfium2==4.30.0
PyPika==0.48.9
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-json-logger==4.0.0
python-multipart==0.0.20
pytube==15.0.0
pytz==2025.2
pyvis==0.3.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rpds-py==0.27.1
rsa==4.9.1
ruff==0.14.0
safehttpx==0.1.6
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==5.1.1
setuptools==80.9.0
sgmllib3k==1.0.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
smolagents==1.22.0
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.8
SQLAlchemy==2.0.43
sqlalchemy-spanner==1.16.0
sqlparse==0.5.3
sse-starlette==2.1.3
stack-data==0.6.3
stagehand==0.5.3
starlette==0.48.0
streamlit==1.50.0
striprtf==0.0.26
structlog==25.4.0
sympy==1.14.0
tenacity==8.5.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.12.0
tinycss2==1.4.0
tokenizers==0.22.1
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.3
torch==2.8.0
tornado==6.5.2
tqdm==4.67.1
traceloop-sdk==0.42.0
traitlets==5.14.3
transformers==4.57.0
truststore==0.10.4
typer==0.19.2
types-python-dateutil==2.9.0.20251008
types-requests==2.32.4.20250913
typing==3.7.4.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uplink==0.10.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.3.0
uv==0.8.24
uvicorn==0.37.0
uvloop==0.21.0
validators==0.35.0
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.14
weaviate-client==4.17.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
widgetsnbextension==4.0.14
wikipedia==1.4.0
wrapt==1.17.3
xxhash==3.6.0
yarl==1.22.0
youtube-search==2.1.2
youtube-transcript-api==1.2.2
zipp==3.23.0
zstandard==0.25.0
